# Funciones integradas comunes
### int(): Transforma una cadena a un entero (si no es posible da error)

In [1]:
n = int("10")
n

10

### float(): Transforma una cadena a un flotante (si no es posible da error)

In [2]:
f = float("10.5")
f

10.5

### str(): Transforma cualquier valor a una cadena

In [7]:
c = "Un texto y un número " + str(10) + " " + str(3.14)

In [8]:
c

'Un texto y un número 10 3.14'

### bin(): Conversión de entero a binario

In [9]:
bin(10)

'0b1010'

### hex(): Conversión de entero a hexadecimal

In [10]:
hex(10)

'0xa'

### int() con base: Reconversión a entero (base 10)

In [11]:
int('0b1010',2)

10

In [12]:
int('0xa',16)

10

### abs(): Valor absoluto de un número (distancia)

In [13]:
abs(-10)

10

In [14]:
abs(10)

10

### round(): Redondeo de un flotante a entero, menor de .5 a la baja, mayor o igual a .5 al alza

In [15]:
round(5.5)

6

In [16]:
round(5.4)

5

### eval(): Evalúa una cadena como una expresión, acepta variables si se han definido anteriormente

In [17]:
eval('2+5')

7

In [19]:
#n = 10
eval('n*10 - 5')

95

### len(): Longitud de una colección o cadena

In [20]:
len("Una cadena")

10

In [21]:
len([])

0

#### ***strip()***

Eliminar espacios al principio y al final de la cadena

In [ ]:
txt = "     mango     "

x = txt.strip()

print("De todas las frutas", x, "es my favorito")

De todas las frutas mango es my favorito

In [ ]:
# se puede saber si una cadena está vacía
texto = ""
if texto == "":
    print("Cadena vacía")

#### ***isdigit()***

El método de cadena isdigit() comprueba si la cadena consta solo de dígitos.

Este método devuelve verdadero si todos los caracteres de la cadena son dígitos y si hay al menos un carácter que no lo sea, retorna falso.

In [ ]:
str = "123456"  # sólo digitos en esta cadena
print(str.isdigit())

str = "Este es ejemplo de un string"
print(str.isdigit())

str = "12345a"
print(str.isdigit())

#### ***map()***
map() es una función incorporada que le permite procesar y transformar todos los elementos en un iterable sin usar un bucle ***for*** explícito, una técnica comúnmente conocida como mapeo. map() es útil cuando necesita aplicar una función de transformación a cada elemento en un iterable y transformarlos en un nuevo iterable. map() es una de las herramientas que admiten un estilo de programación funcional en Python.

In [ ]:
def myfunc(n):
  return len(n)

x = map(myfunc, ('apple', 'banana', 'cherry')) 
print(list(x))

In [ ]:
nombre = "Jose 2"
x = map(str.isdigit, nombre)
print(list(x))

#### ***any***

Compruebe si alguno de los elementos de una lista es verdadero

In [ ]:
mylist = [False, True, False]
x = any(mylist)
print(x)

## ***zip()***

Esta función empareja elementos de una lista, tupla u otra secuencia para crear una nueva lista de tuplas. Esta oración es fácil de entender, es decir, los elementos de dos secuencias diferentes se emparejan uno a uno en forma de tuplas

Nota: La lista de tuplas obtenidas por zip debe mostrarse usando la función list ().

In [37]:
a=['1','2','3']
b=['4','5','6']
print(list(zip(a,b)))

[('1', '4'), ('2', '5'), ('3', '6')]

In [ ]:
number_list = [1, 2, 3]
str_list = ['one', 'two', 'three']

# no se pasa ningún iterable
result = zip()

# Convierte un iterador en una lista
result_list = list(result)
print(result_list)

# Dos iterables son pasados
result = zip(number_list, str_list)
print(result)

# a set
result_set = set(result)
print(f"set = {result_set}")

# a tupla
result = zip(number_list, str_list)
result_tupla = tuple(result)
print(f"tupla = {result_tupla}")

# a lista
result = zip(number_list, str_list)
result_list = list(result)
print(f"lista = {result_list}")

# a dicionario
result = zip(number_list, str_list)
result_dicc = dict(result)
print(f"dicionario = {result_dicc}")

[]
<zip object at 0x7faed76894b0>
set = {(1, 'one'), (3, 'three'), (2, 'two')}
tupla = ((1, 'one'), (2, 'two'), (3, 'three'))
lista = [(1, 'one'), (2, 'two'), (3, 'three')]
dicionario = {1: 'one', 2: 'two', 3: 'three'}

## ***Diferente número de elementos iterables***

In [ ]:
numbersList = [1, 2, 3]
str_list = ['one', 'two']
numbers_tuple = ('ONE', 'TWO', 'THREE', 'FOUR')

# Notice, the size of numbersList and numbers_tuple is different
result = zip(numbersList, numbers_tuple)

# Converting to set
result_set = set(result)
print(result_set)

result = zip(numbersList, str_list, numbers_tuple)

# Converting to set
result_set = set(result)
print(result_set)

# A diccionario
result = zip(numbersList, numbers_tuple)
result_dicc = dict(result)
print(result_dicc)

{(3, 'THREE'), (2, 'TWO'), (1, 'ONE')}
{(2, 'two', 'TWO'), (1, 'one', 'ONE')}
{1: 'ONE', 2: 'TWO', 3: 'THREE'}

## ***Descomprimiendo el valor usando zip()***

In [1]:
coordinate = ['x', 'y', 'z']
value = [3, 4, 5]

result = zip(coordinate, value)
result_list = list(result)
print(result_list)

c, v =  zip(*result_list)
print('c =', c)
print('v =', v)
print(type(c), type(v))

[('x', 3), ('y', 4), ('z', 5)]
c = ('x', 'y', 'z')
v = (3, 4, 5)
<class 'tuple'> <class 'tuple'>

### ***Convertir dos listas a un diccionario***

In [38]:
coin = ('Bitcoin', 'Ether', 'Ripple', 'Litecoin')
code = ('BTC', 'ETH', 'XRP', 'LTC')

dict(zip(coin, code))

{'Bitcoin': 'BTC', 'Ether': 'ETH', 'Ripple': 'XRP', 'Litecoin': 'LTC'}

### ***Cómo comprobar que una cadena contiene un número en Python***

#### Usamos ***any*** junto con ***map*** y ***str.isdigit*** para comprobar si una cadena contiene un número.

In [ ]:
nombre = "Jose 2"
if any(map(str.isdigit, nombre)):
    print("El nombre contiene dígitos")

## Otros Métodos de las cadenas

### upper(): Devuelve la cadena con todos sus caracteres a mayúscula

In [1]:
"Hola Mundo".upper()

'HOLA MUNDO'

### lower(): Devuelve la cadena con todos sus caracteres a minúscula

In [2]:
"Hola Mundo".lower()

'hola mundo'

### capitalize(): Devuelve la cadena con su primer carácter en mayúscula

In [3]:
"hola mundo".capitalize()

'Hola mundo'

### title(): Devuelve la cadena con el primer carácter de cada palabra en mayúscula

In [4]:
"hola mundo".title()

'Hola Mundo'

### count(): Devuelve una cuenta de las veces que aparece una subcadena en la cadena

In [5]:
"Hola mundo".count('mundo')

1

### find(): Devuelve el índice en el que aparece la subcadena (-1 si no aparece)

In [6]:
"Hola mundo".find('mundo')

5

In [7]:
"Hola mundo".find('mundoz')

-1

### rfind():  Devuelve el índice en el que aparece la subcadena, empezando por el final

In [10]:
"Hola mundo mundo mundo".rfind('mundo')

17

### isdigit(): Devuelve True si la cadena es todo números (False en caso contrario)

In [11]:
c = "100"

In [12]:
c.isdigit()

True

### isalnum(): Devuelve True si la cadena es todo números o carácteres alfabéticos

In [17]:
c2 = "ABC10034po"

In [18]:
c2.isalnum()

True

### isalpha(): Devuelve True si la cadena es todo carácteres alfabéticos

In [22]:
c2.isalpha()

False

In [24]:
"Holamundo".isalpha()

True

### islower(): Devuelve True si la cadena es todo minúsculas

In [25]:
"Hola mundo".islower()

False

### isupper(): Devuelve True si la cadena es todo mayúsculas

In [26]:
"Hola mundo".isupper()

False

### istitle(): Devuelve True si la primera letra de cada palabra es mayúscula

In [30]:
"Hola Mundo".istitle()

True

### isspace(): Devuelve True si la cadena es todo espacios

In [32]:
"  -  ".isspace()

False

### startswith(): Devuelve True si la cadena empieza con una subcadena

In [35]:
"Hola mundo".startswith("Mola")

False

### endswith(): Devuelve True si la cadena acaba con una subcadena

In [37]:
"Hola mundo".endswith('mundo')

True

### split(): Separa la cadena en subcadenas a partir de sus espacios y devuelve una lista

In [41]:
"Hola mundo mundo".split()[0]

'Hola'

#### Podemos indicar el carácter a partir del que se separa:

In [42]:
"Hola,mundo,mundo,otra,palabra".split(',')

['Hola', 'mundo', 'mundo', 'otra', 'palabra']

## **join**

El método ***join()*** toma todos los elementos en un iterable y los une en una cadena. Se debe especificar una cadena como separador.

## **Sintaxis**

#### ***string_name.join(iterable)***

In [27]:
# Python program to demonstrate the
# use of join function to join list
# elements with a character.
  
list1 = ['1','2','3','4'] 
  
s = "-"
  
# joins elements of list1 by '-'
# and stores in sting s
s = s.join(list1)
  
# join use to join a list of
# strings to a separator s
print(s)

1-2-3-4

In [28]:
# Python program to demonstrate the
# use of join function to join list
# elements without any separator.
  
# Joining with empty separator
list1 = ['g','e','e','k', 's'] 
print("".join(list1))

geeks

In [29]:
text = ['Python', 'is', 'a', 'fun', 'programming', 'language']

# join elements of text with space
print(' '.join(text))

Python is a fun programming language

In [26]:
myTuple = ("John", "Peter", "Vicky")

x = "#".join(myTuple)

print(x)

John#Peter#Vicky

In [25]:
# Une todos los elementos de un diccionario en una cadena, usando 
# la palabra"TEST" como separador:

myDict = {"name": "John", "country": "Norway"}
mySeparator = "TEST"

x = mySeparator.join(myDict)

print(x)

nameTESTcountry

In [30]:
# .join() with lists
numList = ['1', '2', '3', '4']
separator = ', '
print(separator.join(numList))

# .join() with tuples
numTuple = ('1', '2', '3', '4')
print(separator.join(numTuple))

s1 = 'abc'
s2 = '123'

# each element of s2 is separated by s1
# '1'+ 'abc'+ '2'+ 'abc'+ '3'
print('s1.join(s2):', s1.join(s2))

# each element of s1 is separated by s2
# 'a'+ '123'+ 'b'+ '123'+ 'b'
print('s2.join(s1):', s2.join(s1))

1, 2, 3, 4
1, 2, 3, 4
s1.join(s2): 1abc2abc3
s2.join(s1): a123b123c

In [31]:
# .join() with sets
test = {'2', '1', '3'}
s = ', '
print(s.join(test))

test = {'Python', 'Java', 'Ruby'}
s = '->->'
print(s.join(test))

2, 3, 1
Java->->Python->->Ruby

In [36]:
# .join() with dictionaries
test = {'mat': 1, 'that': 2}
s = '->'

# joins the keys only
print(s.join(test))

test = {1: 'mat', 2: 'that'}
s = ', '

# sin map y str, da error ya que para jubtar en una cadena deben ser strings
print(s.join(map(str,test)))

mat->that
1, 2

In [35]:
t1 = [1,2,3,4]
separador = "-"
prueba = separador.join(map(str,t1))
print(prueba)

1-2-3-4

### strip(): Borra todos los espacios por delante y detrás de una cadena y la devuelve

In [9]:
"   Hola mundo     ".strip()

'Hola mundo'

#### Podemos indicar el carácter a borrar:

In [47]:
"-----Hola mundo---".strip('-')

'Hola mundo'

### replace(): Reemplaza una subcadena de una cadena por otra y la devuelve

In [10]:
"Hola mundo".replace('o','0')

'H0la mund0'

#### Podemos indicar un límite de veces a reemplazar:

In [52]:
"Hola mundo mundo mundo mundo mundo".replace(' mundo','',4)

'Hola mundo'