## ***"is" vs "=="***

> "is" las expresiones se evalúan como Verdadero si dos variables apuntan al mismo objeto

> "==" se evalúa como Verdadero si los objetos a los que se refieren las variables son iguales

In [6]:
a = [1, 2, 3]
b = a
print(a is b)
print(a == b)

c = list(a)
print(a == c)
print(a is c)

True
True
True
False

In [7]:
p = 'hola'
q = 'hola'
p is q

True

In [7]:
x = [1,2,3]
y = [1,2,3]
z = x
print(x is y)
print(x is z)

False
True

In [8]:
a = 5
b = a
print(a is b)
a+=6
print(a,b)
print(a is b)
b+=6
print(a is b)

True
11 5
False
True

In [9]:
a = [1,2,3]
b = a
a += [4]  # Esto no es igual a
print(a is b)
a = a + [5]  # Esto 
print(a is b)
print(a,b)

True
False
[1, 2, 3, 4, 5] [1, 2, 3, 4]

In [11]:
a = [1, 2, 3]
print(id(a))
a = a + [4]
print (a)
print(id(a))

2166607882880
[1, 2, 3, 4]
2166607776704

In [12]:
a = [1, 2, 3]
print(id(a))
a += [4]
print(a)
print(id(a))

2166607834432
[1, 2, 3, 4]
2166607834432

# ***Intercambio de valores***

In [1]:
# Digamos que queremos intercambiar los valores de a y b
a = 23
b = 42
print(a, b)
# La forma clásica de hacerlo
# con una variable temporal:
tmp = a
a = b
b = tmp
print(a, b)

23 42
42 23

In [3]:
# Python también nos permite # usa esta abreviatura:
a = 23
b = 42
print(a, b)
a, b = b, a
print(a, b)

23 42
42 23

## ***Una forma de calcular la moda***

In [ ]:
# en la lista l "M" significa venta de melones, "P" venta de plátanos
# La lista correspondiente nl tiene los kg vendidos
# quiere decir que en la primera venta se vendió 4kg de melones, 
# en la segunda 2kg de melones, en la tercera 1kg de plátanos
# y así sucesivamente
# la idea es hallar la moda de los kilos vendidos de melones y platanos

l = ["M", "M", "P", "M", "P", "P", "P", "M", "M", "P", "M", "P", "M", "P", "P"]
nl = [4, 2, 1, 3, 4, 4, 3, 2, 1, 2, 2, 3, 1, 3, 3]
MM = []   # kilos vendidos de melones
MP = []   # Kilos vendidos de plátanos

for i, tipo in enumerate(l):
    if l[i] == "M":
        MM.append(nl[i])
    if l[i] == "P":
        MP.append(nl[i])

maxMM = max(MM)
minMM = min(MM)

maxMP = max(MP)
minMP = min(MP)

contaM = 0  # contador de cuantas veces aparece una determinada cantidad de kg
for i in range(minMM, maxMM + 1):
    x = MM.count(i) # cuenta cuantas veces aparece cada cantidad de kg
    if x > contaM:
        contaM = x
        modaM = i
        
        
contaP = 0  # análogo al caso anterior
for i in range(minMP, maxMP + 1):
    x = MP.count(i)
    if x > contaP:
        contaP = x
        modaP = i

print("M", MM)
print("P", MP)
print(f"Moda Melones = {modaM} se presentó {contaM} veces")
print(f"Moda Plátanos = {modaP} se presentó {contaP} veces")

In [1]:
nota=[15.1,16.2,17.0,13.2,12.75,17.0,12.75,15.1,17.0]
def Cal_moda(notas):
  notas_unicas=list(set(notas))
  notas_unicas.sort()
  frec_notas=[]
  for i in notas_unicas:      #busco las frecuencias para las notas unicas
    frec_notas.append(nota.count(i))
  for i,notita in enumerate(notas_unicas):
    print(notita, frec_notas[i])
Cal_moda(nota)

12.75 2
13.2 1
15.1 2
16.2 1
17.0 3

## ***Pandas desde listas***

In [1]:
import pandas as pd
df = pd.DataFrame((["Juan Pérez", "Jperez@gmail.com", 
                    "Calculo Integral", 13.75, 1],
                   ["Francisco Quiroz", "Fquiroz@gmail.com", 
                    "Calculo Diferencial", 18.5, 2],
                   ["Enrique Panta", "Epanta@gmail.com", 
                    "Calculo Vectorial", 17.2, 1]),
                  columns=["nombre", "correo", "curso", "nota", "veces"])
print(df)

             nombre             correo                curso   nota  veces
0        Juan Pérez   Jperez@gmail.com     Calculo Integral  13.75      1
1  Francisco Quiroz  Fquiroz@gmail.com  Calculo Diferencial  18.50      2
2     Enrique Panta   Epanta@gmail.com    Calculo Vectorial  17.20      1

## ***Versión de biblioteca***

In [3]:
import matplotlib
import numpy
print(matplotlib.__version__)
print(numpy.__version__)

3.5.0
1.21.4

## ***Tamaño máximo de números en la Python***

In [2]:
import sys
print(sys.maxsize)

9223372036854775807

In [1]:
import sys
print("Float value information: ",sys.float_info)
print("\nInteger value information: ",sys.int_info)
print("\nMaximum size of an integer: ",sys.maxsize)

Float value information:  sys.float_info(max=1.7976931348623157e+308, max_exp=1024, max_10_exp=308, min=2.2250738585072014e-308, min_exp=-1021, min_10_exp=-307, dig=15, mant_dig=53, epsilon=2.220446049250313e-16, radix=2, rounds=1)

Integer value information:  sys.int_info(bits_per_digit=30, sizeof_digit=4)

Maximum size of an integer:  9223372036854775807

In [2]:
import sys
print(sys.float_info.min) #2.2250738585072014e-308
print(sys.float_info.max) #1.7976931348623157e+308

2.2250738585072014e-308
1.7976931348623157e+308

## ***Tips en 'input'***

In [5]:
x = float(input("Ingrese la catidad de metros"))
print(x)

Ingrese la catidad de metros 15

15.0

In [4]:
y = input("Ingrese la unidad de medida").upper()
#y = y.upper()
print(y)

Ingrese la unidad de medida metros

METROS

In [3]:
L = eval(input('Enter a list: ')) # Aquí el tema es eval
print('The first element is ', L[0])
print(L)

Enter a list:  12,13,2,55

The first element is  12
(12, 13, 2, 55)

## *** If...else... en modo abreviado***

In [14]:
a=42
b=200
if b > a:    print("b es mayor que a")

b es mayor que a

In [15]:
a=2
b=330
print("A") if a > b else print("B")

B

In [9]:
# If .. elif … else sentencia corta (en una línea)
# Esta técnica se conoce como operadores ternarios o expresiones condicionales. 
a=335
b=330
print("A") if a > b else print("=") if a == b else print("B")

A

## ***Sentencia continue***

In [16]:
i = 0
while i < 6: 
    i += 1
    if i == 3: 
        continue
    print(i)

1
2
4
5
6

In [10]:
fruits = ["apple", "banana", "cherry"] 
for x in fruits:
    if x == "banana":
        continue 
    print(x)

apple
cherry

In [21]:
L1=[1,3,5,7]
L2=[2,4,6,8]
s=i=0
for i,x in enumerate(L1):
  if i==3:
     continue  
  elif i!=2: 
     s+=x*L2[i]
  else:
     s-=x*L2[i] / 2
print(s)

-1.0