In [4]:
items = []
items.append(['shirt', 18.99])
items.append(['shirt', 22.59])
items.append(['car', 22400])
items.append(['lettuce', 1.49])

print(items)

[['shirt', 18.99], ['shirt', 22.59], ['car', 22400], ['lettuce', 1.49]]

In [12]:
class ShoppingCart:
    def __init__(self):
        self.items = []

    def add(self, item):
        self.items.append(item)

    def total(self):
        return sum(item.price for item in self.items)

    def remove_items(self, name):
        self.items = [item for item in self.items if item[0] != name]
        
    def __str__(self):
        return '\n'.join(str(item) for item in self.items)
        
cart = ShoppingCart()
cart.add(['shirt', 18.99])
cart.add(['shirt', 22.59])
cart.add(['car', 22400])
cart.add(['lettuce', 1.49])
print(cart)
cart.remove_items('shirt')
print(cart)

['shirt', 18.99]
['shirt', 22.59]
['car', 22400]
['lettuce', 1.49]
['car', 22400]
['lettuce', 1.49]

In [17]:
#4 RestaurantCheck
class RestaurantCheck:
    def __init__(self, check_number, sales_tax_percent, subtotal, 
                 table_number, server_name):
        self.check_number = check_number
        self.sales_tax_percent = sales_tax_percent
        self.subtotal = subtotal
        self.table_number = table_number
        self.server_name = server_name

    def calculate_total(self):
        return self.subtotal * (1+self.sales_tax_percent/100)

    def print_check(self):
        #output_file = open('check' + str(self.check_number) + '.txt', 'w')
        print('Check Number:', self.check_number)
        print('Sales tax: ', self.sales_tax_percent, '%', sep='')
        print('Subtotal: {:.2f}'.format(self.subtotal))
        print('Total: {:.2f}'.format(self.calculate_total()))
        print('Table Number:', self.table_number)
        print('Server:', self.server_name)
        #output_file.close()

check = RestaurantCheck(443, 6, 23.14, 'Sonic the Hedgehog', 17)
check.print_check()

Check Number: 443
Sales tax: 6%
Subtotal: 23.14
Total: 24.53
Table Number: Sonic the Hedgehog
Server: 17

In [18]:
#5 Ticket
class Ticket:
    def __init__(self, cost, time):
        self.cost = cost
        self.time = time

    def __str__(self):
        return 'Ticket(' + str(self.cost) + ', ' + str(self.time) + ')'

    def is_evening_time(self):
        hour = int(self.time.split(':')[0])
        return 18 <= hour <= 23

    def bulk_discount(self, n):
        if 5 <= n < 9:
            return 10
        elif n >= 10:
            return 20
        else:
            return 0

ticket = Ticket(49.99, '19:00')
print(ticket)
print(ticket.is_evening_time())
print(ticket.bulk_discount(15))

Ticket(49.99, 19:00)
True
20

In [19]:
#6 MovieTicket
class MovieTicket(Ticket):
    def __init__(self, cost, time, movie_name):
        self.cost = cost
        self.time = time
        self.movie_name = movie_name

    def __str__(self):
        return 'Ticket(' + str(self.cost) + ', ' + str(self.time) + ', ' + str(self.movie_name) + ')'

    def afternoon_discount(self):
        hour = int(self.time.split(':')[0])
        if 12 <= hour <= 17:
            return 10
        else:
            return 0
        
m_ticket = MovieTicket(49.99, '14:25', 'Snakes on a Plane')
print(m_ticket)
print(m_ticket.afternoon_discount())
print(m_ticket.is_evening_time())

Ticket(49.99, 14:25, Snakes on a Plane)
10
False

In [21]:
import pandas as pd  

serie_escalar = pd.Series(42, index=[0, 1, 2],  dtype=float, name='CONST')  
resultado = serie_escalar.sum()  
print(resultado)

126.0

In [22]:
import pandas as pd  

fibs = [0, 1, 1, 2, 3, 5, 8]  
idxs = [0, 1, 2, 3, 4, 5, 6]  
fib_series = pd.Series(data=fibs, index=idxs)  
result = fib_series.shape  
print(result)

(7,)

In [24]:
import pandas as pd  
data = {
    'Spain':'Madrid',
    'France':'Paris',
    'Germany':'Berlin',
    'Italy':'Rome'
}  
capitals = pd.Series(data)
result = capitals.iloc[-1]  
print(result)

Rome

In [23]:
import pandas as pd  

xs = pd.Series(range(7))  
bs = [False, False, True, False, True, False, True]  
result = xs.loc[bs].sum()  
print(result)

12

In [25]:
import pandas as pd  

xs = pd.Series(range(100))  
result = xs.max() + min(xs)  
print(result)

True

In [26]:
import pandas as pd  

xs = pd.Series([5, 1, 4, 2, 3])  

xs.sort_values()  
result = xs[0]  
print(result)

5

In [27]:
import pandas as pd  

s = pd.Series(range(0, 100, 50))  
t = s > 50  
result = t.any()  
print(result)

False

In [ ]:
import pandas as pd  
s = pd.Series(range(10))  
result = s.cumsum(axis=0)[4]  
print(result)

In [ ]:
import pandas as pd  
s = pd.Series(range(0, 10))  
t = pd.Series(range(0, 20))  
result = (s + t)[1]  
print(result)

In [ ]:
import pandas as pd  
data = [  
    ['apple', 1.0],  
    ['bread', 2.5],  
    ['egg', 0.25]  
]  

df = pd.DataFrame(data, columns=['Item', 'Price'])  
shopping_list = pd.Series([5, 1, 4])  
result = (df['Price'] * shopping_list).sum()  
print(result)

In [ ]:
import pandas as pd  
items = ['apple', 'bread', 'egg']  
prices = [1.0, 2.5, 0.25]  
data = {'Item':items, 'Price':prices}  
df = pd.DataFrame(data)  
df['Calories'] = [100, 2500, 25]  
print(df)

In [ ]:
import pandas as pd  
#Contents of cars.csv  
#  -----------------------  
#make,fuel,aspiration,body-style,price,engine-size  
#audi,gas,turbo,sedan,30000,2.0  
#dodge,gas,std,sedan,17000,1.8  
#mazda,diesel,std,sedan,17000,NaN  
#porsche,gas,turbo,convertible,120000,6.0  
#volvo,diesel,std,sedan,25000,2.0  

cars = pd.read_csv('cars.csv')  
result = cars['make'].values[-1]  
print(result)

In [ ]:
import pandas as pd  
df = pd.read_csv("Cars.csv")  

#Dataframe "df"  
#  ----------  
# make    fuel    aspiration    body-style    price    engine-size  
#  0      audi     gas turbo      sedan       30000        2.0  
#1 dodge gas std sedan 17000 1.8  
#2 mazda diesel std sedan 17000 NaN  
#3 porsche gas turbo convertible 120000 6.0  
#4 volvo diesel std sedan 25000 2.0   
#  ----------  
result = df.loc[0:2, "price"].max()  
print(result)

In [ ]:
import pandas as pd  
dict_ = {1: ["a"], 2: ["b"], 3: ["c"]}  
result1 = pd.Series(dict_)  
result2 = pd.DataFrame(dict_)  
print(len(result1) == len(result2))